.user-register-login {
    float:right;
    margin-top: -1%; 
}

#nav-menu {
    height: 30px;
}

.nav-menu {
    float:right;
}

.nav-menu li {
    display:inline;
}

.search {
    float: left;
}

.search input {
    height: 10px;
    margin-top: -5px;
    margin-left: 10%;
}

.search button {
    margin-right: -70px;
    padding: 5px 10px;
    float: right;
    margin-top: 3px;
    margin-right: -13%;
}